@font-face {
  font-family: "iconfont"; /* Project id 3333807 */
  src: url('iconfont.woff2?t=1650817725401') format('woff2'),
       url('iconfont.woff?t=1650817725401') format('woff'),
       url('iconfont.ttf?t=1650817725401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\eba0";
}

.icon-weixin:before {
  content: "\e630";
}

.icon-qq:before {
  content: "\e6a0";
}

.icon-youxiang:before {
  content: "\e70d";
}

.icon-bofang_:before {
  content: "\e68e";
}

.icon-zanting_:before {
  content: "\e68c";
}

.icon-gengduoxinxi:before {
  content: "\e659";
}

.icon-yinle:before {
  content: "\e66e";
}

.icon-jinggao1:before {
  content: "\e616";
}

.icon-jiantou:before {
  content: "\e623";
}

.icon-jiantouxia:before {
  content: "\e624";
}

.icon-about:before {
  content: "\e602";
}

.icon-iconfontinbox:before {
  content: "\e613";
}

.icon-weibiaoti-:before {
  content: "\e617";
}

.icon-code:before {
  content: "\e683";
}

.icon-ddfdf:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e68a";
}

.icon-chenggong:before {
  content: "\e671";
}

.icon-liuyan:before {
  content: "\e612";
}

.icon-csdn:before {
  content: "\e666";
}

.icon-boke:before {
  content: "\e601";
}

.icon-zhuye:before {
  content: "\e610";
}

